#z-ai/glm-5.1
ZAI_API_KEY=your-nvdia-api

#qwen/qwen3.5-397b-a17b
QWEN_API_KEY=your-nvdia-api

#mistralai/mistral-medium-3.5-128b
MISTRAL_API_KEY=your-nvdia-api

#meta/llama-3.1-70b-instruct
META_API_KEY=your-nvdia-api

#tavily for web search
TAVILY_API_KEY=your-tavily-api

#jwt for auth
JWT_SECRET=your-jwt-secret

#default = 3001
PORT=your-port